body{
    width: 100%;
    margin: auto;
    height: 100vh;
    overflow-x: hidden;
}
/* universal classes */
.addBtn{
    width: 60%; 
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}
.sidesMenuBottomContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: aqua;
    bottom: 1%;
    width: 90%;
    height: 15%;
}
/* ####################################### */
/* header */
.header{
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-areas: "devinfo titleH1" "navBar navBar";

}
.devInfoContainer{
    display: grid;
    grid-template-columns: 0fr 2fr;
    row-gap: 0;
    grid-template-areas: "icon name" "icon dev";
    grid-area: devinfo;
}
#icon{
    grid-area: icon;
}
#developerName{
    grid-area: name;
    font-size: 0.625rem;
}
#developerPosition{
    grid-area: dev;
    font-size: 0.5rem;
}
.devInfoContainer p{
    margin: 0 0 0 5px;
}
#developerName{
    align-self: center;
}
.devInfoContainer img{
    width: 2em;
    margin: 2px;
}
#appTitle{
    grid-area: titleH1;
    align-self: center;
    margin: 0;
    font-size: 1.125em;
}
.navegationBar{
    background-color: black;
    grid-area: navBar;
}
.navegationBar ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    margin: 0.2em 0;
    padding: 0;
    justify-content: space-around;
}
.navegationBar a{
    margin: 0 3rem;
    color: white;
    font-size:1.125rem;
    text-decoration:none;
}
/* ####################################### */
/* home page */
.homePage{
    height: 90vh;
    display: flex;
    position: relative;
}
/* ####################################### */
/* section addTask */
.addTaskContainer{
    height: 88vh;
    width: 73%;
    transform: translateX(126%);
    background-image: url(images/label_menu_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    position: absolute;
}
.addTaskHead{
    display: flex;
    align-items: center;
    margin-top: 2%;
}
.addTaskContainer form{
    margin-top: 10%;
    /* the height set the distance of the add task btn */
    height: 80%;
    width: 100%;
    margin-left: 15%;
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
    grid-template-columns: 0fr 0fr;
    grid-template-rows: 0fr 0.05fr 0.5fr;
    grid-template-areas: "newTask pickColor" "date date" "description description";
}
.menuTitle{
    margin: 0;
    width: 100%;
    text-align: center;
}
#newTask{
    grid-area: newTask;
}
#pickColor{
    grid-area: pickColor;
    width: 1.5rem;
}
#date{
    grid-area: date;
}
#description{
    grid-area: description;
}
#rightSideMenuBtn{   
    width: 1.5rem;
    height: 1.5rem;
    margin: 0px 0px 0px 2px;
    background-image: url(images/to-do-list.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
/* ####################################### */
/* selection taskList */
.taskContainer{
    width: 100%;
    height: 100%;
    text-align: center;
}
.labelName{
    width: 100%;
    margin: 0;
    padding-top: 0.5rem;
}
.taskListContainer{
    margin: auto auto;
    margin-top: 1.5rem;
    width: 95%;
    height: 95%;
    background-image: url(images/listContainerBackground.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
#taskList ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#taskList li{
    width: 90%;
    text-align: center;
    font-size:x-large;
    border: black solid 2px;
    border-radius: 5px;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.taskCheckBox{
    font: inherit; 
    width: 1.15em;
    height: 1.15em;
}
.deleteBtn{
    background: url(https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png) no-repeat;
    background-position: center; 
    background-color: rgb(219, 218, 215);
    width: 2.25em;
    height: 2.25em;
}
/* ####################################### */
/* section addLabelContaine* background-size: contain; */
.addLabelContainer{
    height: 88vh;
    width: 73%;
    transform: translateX(-90%);
    background-image: url(images/label_menu_left.svg);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3;
    position: absolute;
}
.addLabelHeader{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2%; 
}
#leftSideMenuBtn{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0px 4px 0px 0px;
    background-image: url(images/list.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
/* ####################################### */
/*  contact page  */
.contactContainer{ 
    text-align: center;
}
.contactList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hide{
    display: none;
}
/* ####################################### */
/* responsivite media querys */
@media(max-width:560px){
    .navegationBar a{
        margin: 0;
    }
}
@media(max-width:370px){
    .title h1{
        font-size: x-large;
    }
    .navegationBar a{
        font-size: large;
    }
}