.about-page{
    padding-top: 12vh;
}
.about-page p{
    text-align: justify;
    margin:0px 10px
}
.about-img{
    width: 100px;
    height: 110px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px rgba(0, 0, 0, 0.2);
    float: left;
    margin: 10px;
    margin-top: 40px;
    filter: brightness(120%)
}
.goToBtn{
    width: 50%;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}