#social-media-list{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h1{
    text-align: center;
}
.contact p{
    text-align: center;
}
.socialMedia{
    display: grid;
    grid-template-columns: 1fr 0.4fr repeat(2, 2fr) 0.8fr;
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    border: 2px black solid;
    border-radius: 10px;
    margin: 5px;
    width: 85vw;
    padding: 3px;
    text-align: center;

    background-color: white;
    color: var(--text-color);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.sm-icon{
    width: 35;
    height: 35px;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    grid-area: 1 / 1 / 3 / 2;
}
.sm-division{
    background-color: rgba(128, 128, 128,50%);
    justify-self:center;
    border-radius: 10px;
    width: 5px;
    grid-area: 1 / 2 / 3 / 3;
}
.sm-name{
    margin: 0;
    grid-area: 1 / 3 / 2 / 5;
}
.sm-description{
    margin: 0;
    font-size: smaller;
    color: gray;
    grid-area: 2 / 3 / 3 / 5;
}
.sm-sign{
    align-self: center;
    margin: 0;
    grid-area: 1 / 5 / 3 / 6;
}
#sendEmail{
    margin: 10px 10px;
    text-align: center;
}
#sendEmail input{
    width: 150px;
    height: 1.5rem;
    margin-bottom: 5px;
    border-radius: 5px;
}
#sendEmail textarea{
    width: 315px;
    background-color: white;
    border-radius: 5px;
}