body{
    width: 100%;
    margin: auto;
    height: 100vh;
    overflow-x: hidden;
}
/* universal classes */
.goToBtn{
    width: 70%;
    font-size: x-large;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-bottom: 2vh;
}
.btnContainer{
    /* go to external link btn */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addBtn{
    width: 70%; 
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #2B27F0;
    color: white;
    font-size:large;
    font-weight:bold;
}
.headerSideMenuLine{
    height: 3px;
    margin-left: 10%;
    margin-right: 20%;
    border-radius: 10%;
    background-color: rgba(128, 128, 128,50%);
}
.sideMenuHeadContainer{
    display: flex;
    align-items: center;
    width: 100%;
}
.addTaskContainer .headerSideMenuLine{
    margin-left: 20%;
    margin-right: 10%;
} 
.sidesMenuMiddleContainer{
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
}
.addTaskContainer .sidesMenuMiddleContainer{
    width: 100%;
}
.sidesMenuBottomContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 1%;
    width: 90%;
    height: 15%;
}
.addTaskContainer .sidesMenuBottomContainer{
    margin-left: 10%;
}
/* ####################################### */
/* home page */
.homePage{
    height: auto;
    display: flex;
    position: relative;
    top: 10vh;
}



/* ####################################### */
/* section addTask */
.addTaskContainer{
    /* background-color: #2B27F0; */
    max-height: 640px;
    max-width: 300px;
    width: 273px;
    height: 490px;
    position: absolute;
    left: 93vw;
    transition: 0.5s;
    transform: translateX(0px);
    background-image: url(img/label_menu_right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}
.addTaskContainer form{
    /* the height set the distance of the add task btn */
    width: 235px;
    max-height: 400px;
    margin-top: 5%;
    justify-content:end;
    display: grid;
    row-gap: 2px;
    grid-template-rows: 0fr 0.1fr 0.075fr;
    grid-template-areas: "newTask pickColor" "description description" "date date";
}
.menuTitle{
    margin: 0;
    width: 100%;
    text-align: center;
}
#newTask{
    grid-area: newTask;
    width: 150px;
}
#pickColor{
    grid-area: pickColor;
    width: 3rem;
}
#date{
    grid-area: date;
    width: 95%;
    align-self: center;
}
#description{
    grid-area: description;
}
#rightSideMenuBtn{   
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 0px 0px 3px 2px;
    background-image: url(img/to-do-list.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}





/* ####################################### */
/* selection taskList */
.taskContainer{
    width: 100%;
    height: 100%;
    text-align: center;
}

.taskListContainer{
    margin: 1vh auto;
    width: 95%;
    min-width: 350px;
    max-width: 400px;
    height: 580px;
    background-image: url(img/listContainerBackground.svg);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}
.taskListContainer h2{
    padding-top: 1.7rem;
    padding-bottom: 1rem;
    margin: 0;
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.30s;
}
#taskList ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
#taskList li{
    width: 90%;
    text-align: center;
    font-size:x-large;
    border: black solid 2px;
    border-radius: 5px;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    /* animation */
    opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}
/* stting the style of all task outputs */
.taskNameOutput{
    margin: 0;
    font-weight: lighter;
    grid-area: 1 / 3 / 2 / 7;
}
.taskCheckBox{
    font: inherit; 
    width: 1.15em;
    height: 1.15em;
    grid-area: 1 / 2 / 3 / 3;
    align-self: center;
}
.taskDescriptionOutput{
    font-size: medium;
    grid-area: 2 / 3 / 3 / 7; 
    text-align: center;
}
.taskDateOutput{
    font-size: small;
    grid-area: 1 / 7 / 3 / 8;
    align-self: center;
}
.taskColorOutput{
    padding: 0%;
    width: 1rem;
    height: 3.5em;
    align-self:center;
    justify-self: center;
    grid-area: 1 / 1 / 3 / 2;
}
.deleteBtn{
    background: url(https://img.icons8.com/ios-glyphs/30/000000/filled-trash.png) no-repeat;
    background-position: center; 
    background-color: rgb(219, 218, 215);
    width: 2.25em;
    height: 2.25em;
    grid-area: 1 / 8 / 3 / 9;
    align-self: center;
    justify-self: center;
    border: none;
    background-color: white;
}
/* ####################################### */
/* section addLabelContaine* background-size: contain; */
.addLabelContainer{
    max-height: 640px;
    max-width: 300px;
    width: 273px;
    height: 490px;
    transition: 0.5s;

    transform: translateX(-90%);
    background-image: url(img/label_menu_left.svg);
    background-size:contain;
    background-repeat: no-repeat;
    z-index: 3;
    position: absolute;
}
#leftSideMenuBtn{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0px 4px 3px 0px;
    background-image: url(img/list.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
#labelList{
    padding: 0%;
    list-style-type:none;
    width: 90%; 
}
#labelList li{
    text-align: center;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.editLabelBtn{
    background: url(img/editing.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0%;
}
.labelName{
    font-size: 1.25rem;
    text-align: center;
    padding:3px 0px 0px 0px;
    margin: 0%;
    border: black solid 1px;
    border-radius: 10px;
    width: 75%;
    background-color: rgb(219, 218, 215);
}
.inFocusToEdit{
    box-shadow:orange 0px 0px 10px;
}
.deleteLabel{
    background: url(img/delite_label.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
}
/* ####################################### */
/* modals */
.addLabelModal {
    text-align: center;
    border: black solid 2px;
    border-radius: 10px;
    background-color: white;
    width: 200px;
    height: 210px;
    z-index: 4;
    /* left is to put modal in the center */
    left: 25%;
    overflow: auto;
    position: fixed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.2fr;
}
.addLabelModal h4{
    grid-area: 1/1/2/3;
    margin: 0%;
    align-self: center;
    font-size:larger;
}
#newLabel{
    grid-area: 2 / 1 / 3 / 3;
    border-radius: 10px;
    height: 50%;
    width: 80%;
    justify-self: center;
}
.actionBtn{
    border-radius: 50%;
    width: 50%;
    height: 90%;
    justify-self: center;
}
#confirmBtn{
    background: url(img/check.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#cancelBtn{
    background: url(img/multiply.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ####################################### */
/*  contact page  */
.contactContainer{ 
    text-align: center;
}
.contactList{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.hide{
    display: none;
}
/* ####################################### */
/* responsivite media querys */
/* @media(max-width:560px){
    .navegationBar a{
        margin: 0;
    }
}
@media(max-width:370px){
    .title h1{
        font-size: x-large;
    }
    .navegationBar a{
        font-size: large;
    }
} */
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}